page-quotes {
  .author {
    color: #ccc;
    text-align: right;
    text-transform: uppercase;
    margein: 0;
    padding : 0;
    &:before {
      content: '-'
    }
  }
  .back{
    background-color: color($colors, dark);
  }
  .other{
    background-color: color($colors, altQuoteBackground);
  }
}
