<ion-header>

  <ion-navbar>
    <ion-title>{{ quotegroup.category | uppercase }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{back : isAltBackground()}">
  <ion-card [ngClass]="{other : isAltBackground()}" *ngFor="let q of quotegroup.quotes; let i = index">
    <ion-card-header>
      <p text-center># {{ i + 1 }} {{ q.person }}</p>
    </ion-card-header>
    <ion-card-content >
      <p>{{ q.text }}</p>
      <p class="author">{{ q.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button
          ion-button
          clear
          small
          (click)="onAddToFavourites(q)"
          *ngIf="!quoteService.findDuplicate(q)">
          Favourite
        </button>
        <button
          ion-button
          clear
          small
          color="danger"
          (click)="onRemoveFromFavourites (q)"
          *ngIf="quoteService.findDuplicate(q)">
          Unfavourite
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
